<div class="card">
  <div class="card-body">
    <h1 class="card-title">About Us</h1>
    <p class="card-text">We empower people and create economic opportunity. We connect millions of buyers and sellers around the world. Welcome to Jungle!
    </p>
    <%= link_to 'Home', :root %>
  </div>
</div> 